label {
    width: 100px;
    display: inline-block;
    Border: 10px;
}

input {
    width: 110px;
    padding: 5px;
    Margin: 2px;
}

h2 {
    color: blue;
}

button {
    width:80px;
    height:20px;
}